---
# Only the main Sass file needs front matter.
search: false
---

@charset "utf-8";

$doc-font-size: 15 !default;
$serif: "Besley", Georgia, Times, serif !default;
$sans-serif: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !default;
$monospace: "JetBrains Mono", Menlo, Consolas, Monaco, "Courier New", monospace !default;
$global-font-family: $sans-serif !default;
$header-font-family: $serif !default;

@import "minimal-mistakes/skins/connectpath";
@import "minimal-mistakes";

.page__title,
.archive__item-title {
  font-weight: 400;
}

code,
pre,
kbd,
samp {
  font-family: $monospace;
}
